app/__pycache__/
app/migrations/__pycache__/__init__.cpython-313.pyc
project/__pycache__/__init__.cpython-313.pyc
project/__pycache__/settings.cpython-313.pyc
project/__pycache__/urls.cpython-313.pyc
project/__pycache__/wsgi.cpython-313.pyc
